language: java
jdk: oraclejdk8
addons:
  sonarqube:
    token:
      secure: de1638dc069b38a05b4801e0840e76aec5614a5e
script: mvn clean -DTRAVIS_JOB_ID=$TRAVIS_JOB_ID cobertura:cobertura coveralls:report package sonar:sonar -Dsonar.host.url=https://sonarqube.com -Dsonar.login=de1638dc069b38a05b4801e0840e76aec5614a5e
sudo: true
notifications:
    email:
    - kamil.mucik@gft.com
    on_success: always
script:
    - echo "Travis branch is $TRAVIS_BRANCH"
    - echo "Travis branch is in pull request $TRAVIS_PULL+REQUEST"
before_install:
    - pip install --user codecov
after_success:
  - bash <(curl -s https://codecov.io/bash)
